* {
    margin: 0;
    padding: 0;
}

#a {
    height: fit-content;
    width: fit-content; 
    margin-left: auto;  
    margin-right: auto;
}
#c{
    height: 500px;
    width: 1000px;
}
#g{
    color: rgb(245, 115, 15);
}
.mb{
    margin: 5px;
    padding: 10px;
}
#h{
    margin-left: auto;
    margin-right: auto;
}
#ab{
    padding: 100px;
    margin: 50px;
}